<li class="d-flex justify-content-between lh-condensed"
    [@taskAnimation]="loadStatus">
    <div class="col-md-6 pl-0">
        <form [formGroup]="formGroup">
            <div class="form-row">
                <div class="col">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="icon-tag"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control rounded-right" placeholder="Tag name" formControlName="name">
                        <button class="btn btn-remove ml-1" (click)="handleRemove()">
                            <i class="icon-trash trk-color red"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</li>
