.task-name {
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: -10px;
  color: #2A3749;
  line-height: 18px;
  padding-left: 0;
}
.task-description {
  padding-left: 0;
  color: rgba(42, 55, 73, 0.7);
}

.task-options {
  width: 32px;
  margin-left: -60px;
}