<li class="task-list__item d-flex justify-content-between lh-condensed"
    [@taskAnimation]="loadStatus">
	<div class="col-md-8 pl-0">
		<form [formGroup]="formGroup">
			<input type="text" class="form-control task-name" placeholder="Task name" formControlName="name">
			<input type="text" class="form-control task-description" placeholder="description or tags" formControlName="description">
		</form>
	</div>
	<ng-container *ngIf="!!task.stop_timer; else timerTmpl">
		<div>
			<button class="btn btn-small" (click)="handlePlay(task)">
				<span class="icon-control-play"></span>
			</button>
			<span class="text-muted">{{task | timerInterval}}</span>
		</div>
	</ng-container>
	<ng-template #timerTmpl>
		<div>
			<button class="btn btn-small" (click)="handleStop(task)">
				<span class="icon-control-pause"></span>
			</button>
			<span class="text-muted">{{task.start_timer | timer}}</span>
		</div>
	</ng-template>
	<div class="task-options dropdown" (clickOutside)="isOpenOptions=false">
		<button class="btn btn-light"
		        (click)="isOpenOptions=!isOpenOptions" [ngClass]="{'active': isOpenOptions}">
			<i class="icon-options-vertical"></i>
		</button>
		<div class="dropdown-menu show dropdown-menu-right" *ngIf="isOpenOptions" [@dropdown]>
			<button class="dropdown-item" (click)="handleRemove()" [disabled]="!task.stop_timer">
				<i class="icon-trash" [ngClass]="{'trk-color red': !!task.stop_timer}"></i> Delete
			</button>
		</div>
	</div>
</li>
