@import "var";

.auth-form {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 60px 2px rgba(0, 0, 0, 0.1);
}

.alert-danger {
  background-color: transparentize($color-red, 0.85);
  border-color: transparentize($color-red, 0.85);
}
.auth-form__header {
  padding: 0 40px;
  padding-top: 48px;
}

.auth-form__content {
  padding: 0 40px;
}

.auth-form__auth-errors {
  padding: 0 40px;
}

.auth-form__form-group {
  padding-bottom: 24px;
}

.auth-form__logo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 8px;
  img {
    width: 104px;
  }
}

.auth-form__title {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  h1 {
    font-size: 18px;
    line-height: 1.25;
    text-align: left;
    color: #515966;
    padding: 7px 0 8px 8px;
    margin: 0;
    border-left: 1px solid rgba(125, 125, 125, 0.3);
  }
}

.auth-form__input-wrapper {
  position: relative;
}

.auth-form__input {
  display: block;
  width: 100%;
  border: solid 1px rgba(125, 125, 125, 0.3);
  background-color: #ffffff;
  height: auto;
  border-radius: 4px;
  padding: 13px 42px 13px 18px;
  font-size: 16px;
  color: #001400 !important;
  font-weight: normal;
  line-height: 1.26;
  outline: 0;
  &:focus {
    padding: 19px 42px 7px 18px;
    font-size: 16px;
    + {
      .auth-form__input-label {
        top: 5px;
        left: 19px;
        height: 13px;
        font-size: 12px;
        line-height: 1.19;
        text-align: left;
        color: #515966;
        transition: all ease .3s;
      }
    }
  }
}

.auth-form__input-validation-line-wrapper {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 0 2px;
  width: calc(100% - 6px);
  right: 0;
  left: 0;
  margin: auto;
}

.auth-form__input-validation-line {
  height: 2px;
  width: 100%;
  transition: all 0.3s ease-in 0s;
}

.focused {
  .auth-form__input-validation-line {
    background-color: #007df4;
  }
}

.focused-error {
  .auth-form__input-validation-line {
    background-color: #f05f37;
  }
  .auth-form__input-validation-error {
    display: block;
  }
  .auth-form__input-special-symbol-wrapper {
    display: block;
  }
}

.auth-form__input-wrapper.focus {
  .auth-form__input {
    padding: 19px 42px 7px 18px;
    font-size: 16px;
  }
  .auth-form__input-label {
    top: 5px;
    left: 19px;
    height: 13px;
    font-size: 12px;
    line-height: 1.19;
    text-align: left;
    color: #515966;
    transition: all ease .3s;
  }
}

.auth-form__input-label {
  position: absolute;
  line-height: 1.26;
  color: #515966;
  font-size: 16px;
  font-weight: normal;
  left: 18px;
  top: 14px;
  transition: all ease .3s;
  cursor: text;
}

.auth-form__input-validation-error {
  display: none;
  position: absolute;
  padding-left: 18px;
  height: 16px;
  line-height: 1.28;
  text-align: left;
  z-index: 40;
  p {
    margin-top: 0;
    color: #f05f37;
    font-size: 11px;
  }
}

.auth-form__input-special-symbol-wrapper {
  display: none;
  position: absolute;
  z-index: 20;
  top: 11px;
  right: 18px;
  margin: auto;
  transition: all 0.3s ease-in 0s;
}

.auth-form__form-group_remember-me {
  text-align: center;
}

.auth-form__remember-me-wrapper {
  position: relative;
  display: inline-block;
  a {
    padding-left: 24px;
    font-size: 14px;
    line-height: 1.15;
    text-align: left;
    color: #515966;
    position: relative;
    margin: 0;
    vertical-align: top;
  }
}

.auth-form__remember-me-checkbox {
  position: absolute;
  left: 1px;
  top: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  &:checked {
    + {
      .auth-form__remember-me-checkbox-label {
        &:before {
          background-color: $color-blue;
          transition: all ease .3s;
        }
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

.auth-form__remember-me-checkbox-label {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: solid 1px rgba(125, 125, 125, 0.3);
    background: #ffffff;
    border-radius: 4px;
  }
  padding-left: 24px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.15;
  text-align: left;
  color: #515966;
  position: relative;
  margin: 0;
  vertical-align: top;
  &:after {
    content: '';
    background-image: url("/assets/images/ic-white-ok-small.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 13px;
    width: 13px;
    position: absolute;
    top: 4px;
    left: 2px;
    font-size: 1.3em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all ease .3s;
    opacity: 0;
    transform: scale(0);
  }
}

.auth-form__button-login {
  border-radius: 0 0 4px 4px;
  display: block;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.11;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  height: 56px;
  text-decoration: none;
  transition: all 0.2s ease-out 0.1s;
  outline: none;
  padding: 0;
}

.auth-form__button-login.disabled-btn {
  opacity: 0.8;
  pointer-events: none;
  cursor: default;
}

.auth-form__password-view-image {
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 20;
  top: 22px;
  bottom: 20px;
  right: 18px;
  margin: auto;
}

.error-text {
  color: #f05f37;
}

@media (min-width: 468px) {
  .auth-form__logo {
    padding-right: 18px;
  }
  .auth-form__title {
    width: 55%;
    h1 {
      padding-left: 18px;
      font-size: 24px;
    }
  }
}

@media (min-width: 536px) {
  .auth-form {
    width: 536px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -198.25px;
    margin-left: -268px;
  }
  .auth-form__logo {
    padding-right: 28px;
  }
  .auth-form__title {
    h1 {
      padding-left: 28px;
    }
  }
}
