@import "var";

.btn {
  font-size: 14px;
  small {
    font-size: 12px;
  }
  &.toggle-text {

  }
}

.btn-fancy {
  cursor: pointer;
  background-color: transparent;
  color: #14A5AE;
  & > span {
    font-weight: 500;
    z-index: 2;
    padding-left: 3px;
  }
}

.btn {
  @mixin btn-theme($color) {
    background-color: $color;
    border-color: $color;
    &:focus {
      background-color: darken($color, 5%);
      border-color: darken($color, 5%);
    }
  }
  &.pink  {@include btn-theme($color-pink)}
  &.orange {@include btn-theme($color-orange)}
  &.red {@include btn-theme($color-red)}
  &.blue {@include btn-theme($color-blue)}
  &.green {@include btn-theme($color-green)}
  &.green-pine {@include btn-theme($color-green-pine)}
  &.blue-dark {@include btn-theme($color-blue-dark)}
  &.purple {@include btn-theme($color-purple)}
}

@mixin btn-custom-theme($color) {
  color: $color !important;
  &:hover {
    &:after {
      background-color: transparentize($color,0.85);
    }
  }
  &.active {
    background-color: transparentize($color,0.5) !important;
    color: white !important;
  }
}

.btn-light, .btn-remove {
  border-radius: 30px;
  background-color: transparent;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 0;
  position: relative;
  border: none;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: all ease-out .15s;
    height: 0;
    border-radius: 30px;
  }
  &:hover {
    background-color: transparent;
    border: none;
    &:after {
      height: 100%;
    }
  }

}

.btn-light {
  @include btn-custom-theme($color-green);
}

.btn-remove {
  @include btn-custom-theme($color-red);
  height: 38px;
  width: 38px;
}
.btn-remove-project {
  background-color: transparentize($color-red,0.85);
  @include btn-custom-theme($color-red);
}