@import "var";

.form-control {
  background: rgba(255, 255, 255, 0.09);
  border-radius: .375rem;
  height: 38px;
  font-size: 12px;
  width: 100%;
  border: 1px solid transparent;
  transition: none;
  &:focus {
    box-shadow: none;
    border-color: transparent;
  }
}

.input-group-text {
  background: rgba(255, 255, 255, 0.09);
  border: 1px solid $color-form-control-border;
  border-right: none;
}

.tracker-form {
  border-radius: 5px;
  height: auto;
  font-size: 0;
  background: white;
  .form-control {
    transition: border 0.3s ease;
    border: 1px solid $color-form-control-border;
    border-left: none;
    &:focus {
      border-color: $color-form-control-border;
      background: rgba(255, 255, 255, 0.15);
      box-shadow: none;
    }
  }
}

.tracker-form-body {
  padding: 20px;
}

.tracker-form-footer {
  .btn {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}