$color-primary: #14A5AE;
$color-primary-dark: darken(#14A5AE, 5%);

$color-form-control-border: #ddd;

$color-pink: #F368E0;
$color-orange: #FF9F43;
$color-red: #EE5353;
$color-blue: #0ABDE3;
$color-green: #10AC84;
$color-green-pine: #00D2D3;
$color-blue-dark: #54A0FF;
$color-purple: rgb(127, 73, 232);