<div class="d-flex">
	<div class="dropdown" (clickOutside)="closeDropdown()" >
		<div class="tag add-tag" (click)="isOpen=!isOpen" [ngClass]="{'active': isOpen}">
			<i class="icon icon-plus"></i> New Tag
		</div>
		<div class="dropdown-menu show pl-3 pr-3 tag-wrapper" *ngIf="isOpen" [@dropdown]>
			<div [ngClass]="{'animated': isOpen}">
				<ng-container *ngFor="let tag of tagsList">
					<span class="tag"
					      [ngClass]="{'active': !tag.active}"
					      (click)="addTag(tag)">
						{{ tag.name }}
						<i class=""></i>
					</span>
				</ng-container>
			</div>
		</div>
	</div>
	<div [ngClass]="{'animated': isAnimated}" *ngIf="isLoaded">
		<span class="tag" *ngFor="let tag of values"
		      (click)="removeTag(tag)">
			{{ tag }}
		</span>
	</div>


</div>
