.tag-wrapper {
  width: 300px;
}

.tag {
  padding: 0 7px;
  margin-right: 5px;
  display: inline-block;
  line-height: 20px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: rgb(255, 255, 255);
  font-size: 12px;
  transition: all .3s cubic-bezier(.215,.61,.355,1);
  opacity: 1;
  cursor: pointer;
  white-space: nowrap;
  &.active {
    border-color: #3fba9c;
    color: white;
    background: #3fba9c;
  }
}
.add-tag {
  border-style: dashed;
}

.animated {
  overflow: hidden;
  .tag {
    animation: waveY;
    animation-duration: .25s;
  }
}

@keyframes waveY {
  from {transform: translate3d(0, 20px, 0); opacity: 0; }
  to {transform: translate3d(0, 0, 0); opacity: 1; }
}
