.project-colors {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  width: 100%;
  &.animated {
    li {
      animation: waveX;
      animation-duration: .25s;
      $params: (1, 2, 3, 4, 5, 6, 7, 8, 9);
      $paramsLength: length($params);
      @for $i from 1 through $paramsLength {
        &:nth-child( #{$i} ) {
          animation-delay: $i*25ms;
        }
      }
    }
  }
  li {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease-in-out .25s;
    padding: 3px 2px 0;
    color: white;
    text-align: center;
    &:hover {
      transform: scale(1.1);
    }
    &.active {
      transform: scale(1.1);
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }
}

@keyframes waveX {
  from {transform: translate3d(20px, 0, 0); }
  to {transform: translate3d(0, 0, 0); }
}
