<div class="tracker-form focus-box">
	<div class="tracker-form-body">
		<div class="form-row">
			<div class="col">
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text" [style.color]="selectedColor">
							<i class="icon-folder-alt"></i>
						</div>
					</div>
					<input type="text" class="form-control" placeholder="Project name" #name
						   [value]="project.name"
						   autofocus>
				</div>
			</div>
		</div>
		<div class="form-row pt-3">
			<ul class="project-colors p-0 m-0" [ngClass]="{'animated': isAnimated}">
				<ng-container *ngFor="let color of colors">
					<li
					    [style.background-color]="color.value"
					    (click)="selectedColor=color.value">
						<i class="icon" *ngIf="selectedColor==color.value">
							<svg width="14px" height="14px" viewBox="0 0 16 12" version="1.1">
								<g id="Assets" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="KeyCloak-2-0-assets" transform="translate(-424.000000, -431.000000)" fill-rule="nonzero" fill="#FFFFFF">
										<polygon id="ic-white-ok" points="437.47759 431.314247 439.275106 432.992382 429.290097 442.314247 424.275106 437.632321 426.023626 435.943638 429.289364 438.992484"></polygon>
									</g>
								</g>
							</svg>
						</i>
					</li>
				</ng-container>
			</ul>
		</div>
	</div>
	<div class="tracker-form-footer d-flex trk-color {{project.color}}">
		<button (click)="handleRemove(); name.value=''" class="btn border-0 btn-remove-project rounded-right-0" *ngIf="isEditMode()">
			<i class="icon-trash trk-color red"></i> Delete
		</button>
		<button (click)="handleSubmit(name.value); name.value=''"
		        class="btn btn-primary border-0"
		        [ngClass]="{'rounded-left-0': isEditMode()}"
		        [style.background-color]="selectedColor">
			{{project && project.id ? 'Save project' : 'Create project'}}
		</button>
	</div>
</div>

