<ng-container *ngIf="currentProject">
	<!----------------------
		 Project header
	------------------------>
	<div class="project-header d-flex align-items-center">
		<h2 *ngIf="currentProject">
			<i class="icon-folder-alt trk-color {{ currentProject.color }}"></i>
			{{ currentProject.name }}
		</h2>
		<div class="project-popover popover-left ml-3" (clickOutside)="isOpenEditProject=false">
			<button class="btn btn-light btn-fancy" (click)="isOpenEditProject=!isOpenEditProject" [ngClass]="{'active': isOpenEditProject}">
				<i class="icon icon-options-vertical"></i>
			</button>
			<div class="popover-body" *ngIf="isOpenEditProject" [@popoverRight]>
				<app-project-form
						(submit)="updateProject($event)"
						(remove)="removeProject($event)"
						[project]="currentProject"></app-project-form>
			</div>
		</div>
	</div>
	<div class="tags d-flex">
		<app-tag [values]="currentProject.tags" (updateTags)="updateTags($event)"></app-tag>
	</div>
	<hr>
	<!----------------------
		 Create new task
	------------------------>
	<button class="btn btn-primary mb-3 {{ currentProject.color }}" (click)="addTask()">
		<small class="icon-control-play"></small>
		<span> Run new task</span>
	</button>
	<!--<app-multi-task-form [projectId]="projectId" (createTasks)="createTasks($event)"></app-multi-task-form>-->
	<!----------------------
		 Task list
	------------------------>
	<ng-container *ngIf="( groups$ | async).length; else emptyTask">
		<ng-container *ngFor="let group of ( groups$ | async )">
			<div class="date-row text-muted d-flex justify-content-between">
				<small class="font-weight-bold">{{ group.date | date: 'EEE, dd MMM'}}</small>
				<small class="font-weight-bold">{{ group.timerSum | timeSpent }}</small>
			</div>
				<ul class="task-list mb-3"
				    [@taskAnimation]="loadStatus">
					<ng-container *ngFor="let task of group.tasks | reverse">
						<app-task-form [task]="task"
						               (play)="handlePlay($event)"
						               (stop)="handleStop($event)"
						               (update)="updateTask($event)"
						               (remove)="removeTask($event)"
						></app-task-form>
					</ng-container>
				</ul>
		</ng-container>
	</ng-container>

	<ng-template #emptyTask>
		<div class="text-center pt-5">
			Let's track your first task for test
		</div>
	</ng-template>
</ng-container>
