ngx-charts-bar-horizontal-stacked {
  display: inline-block;
}

.nav-tabs {
  button {
    background-color: transparent;
    cursor: pointer;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}