<h2>
	Activity
</h2>
<hr>
<ng-container *ngIf="(isLoaded$ | async); else loading">
	<div class="col-md-12 mb-5 p-0"
	     *ngIf="(values$ | async).length; else emptyProject"
		#mainWrapper>
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<button class="nav-link" [ngClass]="{'active': showProjects}" (click)="showProjects=true">Projects</button>
			</li>
			<li class="nav-item">
				<button class="nav-link" [ngClass]="{'active': !showProjects}" (click)="showProjects=false">Tags</button>
			</li>
		</ul>
		<div class="tab-content pt-3" *ngIf="showProjects">
			<ngx-charts-bar-horizontal-stacked [results]="values$ | async"
											   [xAxis]="true"
											   [yAxis]="true"
											   [showXAxisLabel]="true"
											   [legend]="true"
											   [legendTitle]="'Projects'"
											   [xAxisLabel]="'Time(hr)'"
											   [yAxisLabel]="'Days'"
											   [showGridLines]="true"
											   [customColors]="customColors$ | async"
											   [scheme]="'cool'" [view]="[chartWidth, height$ | async]">
			</ngx-charts-bar-horizontal-stacked>
		</div>
		<div class="tab-content pt-3" *ngIf="!showProjects">
				<ngx-charts-bar-horizontal [results]="tagValues$ | async"
				                                   [xAxis]="true"
				                                   [yAxis]="true"
				                                   [showXAxisLabel]="true"
				                                   [legend]="false"
				                                   [legendTitle]="'Tags'"
				                                   [xAxisLabel]="'Time(hr)'"
				                                   [yAxisLabel]="'Days'"
				                                   [showGridLines]="true"
				                                   [scheme]="'cool'" [view]="[chartWidth, tagChartHeight$ | async]">
			</ngx-charts-bar-horizontal>
		</div>
	</div>
	<ng-template #emptyProject>
		<h3>Welcome to dashboard</h3>
		<p>Your time tracking nightmares stop today.</p>
		<p>Timely will make you more productive, increase your profits, and minimize the time you spend tracking time.</p>
	</ng-template>
</ng-container>
<ng-template #loading>
	<app-loader></app-loader>
</ng-template>