@import "./src/assets/scss/var";

$spinner-dimensions: 50px;
//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}
:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.spinner-block {
  width: $spinner-dimensions;
  text-align: center;
  margin-right: 83px;
}

/* spinner-3 styles */
.spinner-eff.spinner-eff-3 {
  min-height: 50px;
  position: relative;
  @keyframes pulse {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1.3);
      opacity: 0;
    }

    100% {
      transform: scale(1.3);
      opacity: 0;
    }
  }

  @keyframes pulse-2 {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1.3);
      opacity: 0;
    }
  }

  .circle {
    border-radius: 100px;
    @include position-absolute($left: 0, $right: 0);
    margin: auto;
    transform: scale(1);
    transform-origin: center center;

    &-1 {
      width: 100%;
      height: 100%;
      background-color: lighten($color-green, 25%);
      top: 0;
      animation: pulse 1.6s linear 0s infinite;
    }

    &-2 {
      width: 66.6%;
      height: 66.6%;
      background-color: $color-green;
      top: 16.5%;
      animation: pulse-2 1.6s linear 0s infinite;
    }

    &-3 {
      width: 33.3%;
      height: 33.3%;
      background-color: $color-green;
      top: 33.3%;
    }
  }
}