<div class="pt-3 mb-3">
  <form [formGroup]="formGroup">
    <input type="text" class="form-control task-name" placeholder="Task name" formControlName="name">
    <input type="text" class="form-control task-description" placeholder="description" formControlName="description">
    <input type="text" class="form-control" placeholder="Work logs: 4,3,5" formControlName="workLogs">
    <input type="text" class="form-control" placeholder="Start date" formControlName="start">
    <button class="btn btn-primary mt-3" (click)="create()">Create</button>
  </form>
</div>