@import "./src/assets/scss/var";

header {
  background-color: white;
  margin-bottom: 15px;
}

nav {
  a {
    color: $color-blue-dark;
    border-bottom: 1px solid transparent;
    &:hover {
      text-decoration: none;
    }
    &.active {
      border-color: $color-blue-dark;
    }
  }
}
