<header class="blog-header py-3">
    <div class="container">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-3 pt-1 text-center">
                <a class="blog-header-logo text-dark" routerLink="/projects">Tracker</a>
            </div>
            <div class="col-9 d-flex justify-content-end align-items-center">
                <!--<a class="text-muted" href="#">-->
                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>-->
                <!--</a>-->
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2"
                       routerLink="/projects"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }">Activity</a>
                    <a class="p-2" routerLink="/projects/tags" routerLinkActive="active">Tag Manager</a>
                </nav>
                <div class="dropdown" (clickOutside)="isOpenProfile=false" *ngIf="(user$ | async)">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                            (click)="isOpenProfile=!isOpenProfile" [ngClass]="{'active': isOpenProfile}">
                        {{ (user$ | async).name }}
                    </button>
                    <div class="dropdown-menu show dropdown-menu-right" *ngIf="isOpenProfile" [@dropdown]>
                        <button class="dropdown-item" (click)="logout()">Log out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>