<div class="project-header d-flex align-items-center">
    <h2>
        <i class="icon-tag trk-color blue"></i>
        Tag manager
    </h2>
</div>
<hr>

<!----------------------
     Tag list
------------------------>
<li class="d-flex justify-content-between lh-condensed">
    <div class="col-md-6 pl-0 tracker-form">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="icon-tag"></i>
                </div>
            </div>
            <input type="text" class="form-control rounded-right" placeholder="Tag name" #name>
            <button class="btn ml-1" type="submit" (click)="createTag(name.value); name.value=''">
                Add tag
            </button>
        </div>
    </div>
</li>
<hr>
<ng-container *ngIf="( tags$ | async).length; else emptyTags">
    <ul class="task-list tracker-form">
        <ng-container *ngFor="let tag of (tags$ | async | reverse)">
            <app-tag-manager [tag]="tag"
                             (remove)="removeTag($event)"
                             (update)="updateTag($event)"
            ></app-tag-manager>
        </ng-container>
    </ul>
</ng-container>

<ng-template #emptyTags>
    <div class="text-center pt-5">
        Let's track your first task for test
    </div>
</ng-template>