<app-header></app-header>
<div class="container">

	<div class="row">
		<div class="col-sm-3">
			<div class="current-task mb-3" *ngIf="currentTask" [@slideAnimation]>
				<button class="btn {{currentTask.color_project}}" (click)="stopCurrentTask()">
					<i class="icon icon-control-pause"></i>
					<span class="current-task-info">
						<span class="task-timer">{{currentTask.start_timer | timer}}</span>
					</span>
				</button>
			</div>
			<div class="focus-box mb-3">
				<div class="d-flex align-item-center justify-content-between  pr-3 pl-3 pt-3">
					<h4 class="m-0">Projects</h4>
					<div class="project-popover popover-left" (clickOutside)="isOpenCreateProject=false">
						<button class="btn btn-light" (click)="isOpenCreateProject=!isOpenCreateProject" [ngClass]="{'active': isOpenCreateProject}">
							<i class="icon-plus"></i>
						</button>
						<div class="popover-body" *ngIf="isOpenCreateProject" [@popoverRight]>
							<app-project-form (submit)="addProject($event)"></app-project-form>
						</div>
					</div>
				</div>
				<hr class="mb-0">
				<ul class="project-list pb-1">
					<ng-container *ngIf="(projects$ | async).length; else empryProjects">
						<li *ngFor="let project of projects$ | async"
						    class="d-flex justify-content-between">
							<a [routerLink]="['view', project.id]" routerLinkActive="active" class="{{ project.color }}">
								<i class="icon-folder-alt trk-color {{ project.color }}"></i>
								<span class="my-0">{{ project.name }}</span>
								<small class="icon-control-play" *ngIf="currentTask && project.id==currentTask.project_id">
								</small>
							</a>
						</li>
					</ng-container>
					<ng-template #empryProjects>
						<li class="d-flex justify-content-between">
							<a class="blue">
								<i class="icon-folder-alt trk-color"></i>
								<span class="my-0">No projects</span>
							</a>
						</li>
					</ng-template>
				</ul>
			</div>
		</div>
		<div class="col-sm-9 task-wrapper focus-box">
			<router-outlet></router-outlet>
		</div>
	</div>

</div>
<div class="notify d-flex" [ngClass]="{'active': (removedProjects$ | async)}">
	<div class="notify-body">
		Project removed.
	</div>
	<div class="d-flex notify-footer">
		<button class="btn rounded-right-0 w-100 btn-remove-project" (click)="confirmRemoveProject()">Ok</button>
		<button class="btn rounded-left-0 w-100 btn-primary green" (click)="restoreProject()">Restore</button>
	</div>
</div>