@import "./src/assets/scss/var";

.task-wrapper {
  position: relative;
  padding: 45px;
  flex: 1 1 auto;
  border-radius: 5px;
  color: #4b4b4b;
}

.project-list {
  position: relative;
  padding-left: 0;
  li > a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #505B6A;
    text-align: left;
    cursor: pointer;
    margin-top: 5px;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      transition: all ease-out .15s;
      height: 0;
    }
    & > i {
      font-size: 18px;
    }
    & > span {
      position: relative;
      margin-left: 10px;
    }
    .icon-control-play {
      position: absolute;
      right: 15px;
    }
    &.active, &:hover {
      text-decoration: none;
      @mixin theme($color) {
        &:after {
          background-color: transparentize($color,0.85);
          height: 100%;
        }
      }

      &.pink  {@include theme($color-pink)}
      &.orange {@include theme($color-orange)}
      &.red {@include theme($color-red)}
      &.blue {@include theme($color-blue)}
      &.green {@include theme($color-green)}
      &.green-pine {@include theme($color-green-pine)}
      &.blue-dark {@include theme($color-blue-dark)}
      &.purple {@include theme($color-purple)}
    }
  }
}

.current-task {
  @mixin theme($color) {
    background-color: transparentize($color, 0.85);
    border-color: transparentize($color, 0.85);
    color: darken($color, 20%);
    .icon {
      background-color: transparentize($color, 0.25);
      color: white;
      box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.16);
    }
  }
  .btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    .icon {
      padding: 10px;
      border-radius: 30px;
      background-color: #fff;
    }

    &.pink  {@include theme($color-pink)}
    &.orange {@include theme($color-orange)}
    &.red {@include theme($color-red)}
    &.blue {@include theme($color-blue)}
    &.green {@include theme($color-green)}
    &.green-pine {@include theme($color-green-pine)}
    &.blue-dark {@include theme($color-blue-dark)}
    &.purple {@include theme($color-purple)}
  }
  .current-task-info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 55px);
  }
  .task-timer {
    font-size: 16px;
  }
}

.notify {
  position: fixed;
  bottom: -100px;
  right: 50px;
  width: 150px;
  height: 70px;
  box-shadow: 0 4px 16px 0 #6d6d6d;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  transition: all ease-in-out .25s;
  &.active {
    bottom: 50px;
  }
  &-body {
    color: white;
    font-size: 13px;
    padding: 7px 0;
    text-align: center;
  }
  &-footer {
    height: 30px;
    .btn {
      padding: 0 6px;
    }
  }
}