<form class="auth-form" [formGroup]="form" (ngSubmit)="submit()">
	<div class="auth-form__header text-center pb-2">
		<h3 class="font-weight-light">Login to Tracker</h3>
	</div>

	<div class="auth-form__content pt-3 pb-2">
		<div class="auth-form__auth-errors text-center pb-3" *ngIf="errorMessage">
			<div class="error-text">{{errorMessage}}</div>
		</div>
		<div class="auth-form__form-group">
			<div class="auth-form__input-wrapper"
			     [ngClass]="{'focus': form.controls['username'].value, 'focused-error': hasError('username')}">
				<input class="auth-form__input" id="username" autocomplete="on" formControlName="username"/>
				<label class="auth-form__input-label" for="username">Login:</label>
				<div class="auth-form__input-validation-line-wrapper">
					<div class="auth-form__input-validation-line"></div>
				</div>
				<div class="auth-form__input-special-symbol-wrapper">
					<img class="auth-form__input-special-symbol"
					     src="./assets/images/ic-accept-red.svg"
					     width="16" height="16"/>
				</div>
				<div class="auth-form__input-validation-error">
					<p>Login cannot be blank.</p>
				</div>
			</div>
		</div>
		<div class="auth-form__form-group">
			<div class="auth-form__input-wrapper"
			     [ngClass]="{'focus': form.controls['password'].value, 'focused-error': hasError('password')}">
				<input class="auth-form__input" id="password" type="password" formControlName="password" maxlength="50"
				       size="17" autocomplete="off"/>
				<label class="auth-form__input-label" for="password">Password:</label>
				<div class="auth-form__input-validation-line-wrapper">
					<div class="auth-form__input-validation-line"></div>
				</div>
				<div class="auth-form__input-special-symbol-wrapper">
					<img class="auth-form__input-special-symbol"
					     src="./assets/images/ic-accept-red.svg"
					     width="16" height="16"/>
				</div>
				<div class="auth-form__input-validation-error">
					<p>Password cannot be blank.</p>
				</div>
			</div>
		</div>
		<div class="auth-form__form-group auth-form__form-group_remember-me text-left pt-2">
			<div class="auth-form__remember-me-wrapper d-flex justify-content-around">
				<input class="auth-form__remember-me-checkbox d-none" id="rememberMe" type="checkbox" value="Y"/>
				<label class="auth-form__remember-me-checkbox-label" for="rememberMe" title="Remember me on this computer">Remember me on this computer</label>
				<a routerLink="/auth/reg" class="text-muted">Sing up</a>
			</div>
		</div>
	</div>

	<button class="auth-form__button-login btn blue" [ngClass]="{'disabled-btn': !this.form.valid}">Log in</button>
	<table class="bx-auth-table"></table>
</form>