@import "assets/scss/var";
@import "assets/scss/form";
@import "assets/scss/buttons";
@import "assets/scss/auth";

html {
  height: 100%;
}

body {
  letter-spacing: 0.05em;
  font-weight: 400;
  font-size: 16px;
  background-color: #ebeff5;
  min-height: 100%;
  height: 100%;
}

/* * * * * * * * * * * * * * * *
 * CONTROLS (from, btn)
 * * * * * * * * * * * * * * * */
.btn-small {
  background-color: transparent;
}

.date-row {
  border-bottom: 1px solid rgba(233, 233, 235, 0.53);
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  &__item {
    display: flex;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    transition: box-shadow 1s ease;
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0);
    border: none;
    -webkit-animation: show-task 0.6s forwards ease;
    animation: show-task 0.6s forwards ease;
  }
}

.trk-color {
  &.pink {
    color: $color-pink
  }
  &.orange {
    color: $color-orange
  }
  &.red {
    color: $color-red
  }
  &.blue {
    color: $color-blue
  }
  &.green {
    color: $color-green
  }
  &.green-pine {
    color: $color-green-pine
  }
  &.blue-dark {
    color: $color-blue-dark
  }
  &.purple {
    color: $color-purple
  }
}

.focus-box {
  background: white;
  box-shadow: 0 2px 12px 0 #dfe3eb;
  border-radius: 5px;
}

.project-popover {
  position: relative;
  .popover-body {
    position: absolute;
    right: 0;
    z-index: 100;
    top: 0;
    width: 260px;
    &:before {
      content: '';
      position: absolute;
      top: -6px;
      left: 6px;
      width: 12px;
      height: 12px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: white;
      box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.05);
    }
  }
}

.popover-left {
  .popover-body {
    right: -260px;
    top: -15px;
    width: 260px;
    &:before {
      top: 25px;
      left: 6px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.rounded-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}